USE [DB_BenhVien]
GO
/****** Object:  Table [dbo].[tbl_TrinhDo]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TrinhDo](
	[MaTrinhDo] [char](10) NOT NULL,
	[TrinhDo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TrinhDo] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW/****** Object:  Table [dbo].[tbl_ToDieuTri]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ToDieuTri](
	[MaToDieuTri] [char](10) NOT NULL,
	[MaDieuTri] [char](10) NOT NULL,
	[MaViTri] [char](10) NULL,
 CONSTRAINT [PK_tbl_ToDieuTri] PRIMARY KEY CLUSTERED 
(
	[MaToDieuTri] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_TinhTrangRaVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TinhTrangRaVien](
	[MaTinhTrangRaVien] [char](10) NOT NULL,
	[TenTinhTrangRaVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TinhTrangRaVien] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangRaVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_TinhTrangRaVien] ([MaTinhTrangRaVien], [TenTinhTrangRaVien]) VALUES (N'1         ', N'Khỏi')
INSERT [dbo].[tbl_TinhTrangRaVien] ([MaTinhTrangRaVien], [TenTinhTrangRaVien]) VALUES (N'2         ', N'Đở,Giảm')
INSERT [dbo].[tbl_TinhTrangRaVien] ([MaTinhTrangRaVien], [TenTinhTrangRaVien]) VALUES (N'3         ', N'Không thay đổi')
/****** Object:  Table [dbo].[tbl_TinhThanh]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TinhThanh](
	[MaTinhThanh] [char](10) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'00        ', N'Chưa biết')
INSERT [dbo].[tbl_TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'01        ', N'Hồ Chí Minh')
INSERT [dbo].[tbl_TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (N'02        ', N'Hà Nội')
/****** Object:  Table [dbo].[tbl_TinhHinhTuVong]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TinhHinhTuVong](
	[MaTinhHinhTuVong] [char](10) NOT NULL,
	[TinhHinhTuVong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_TinhHinhTuVong] PRIMARY KEY CLUSTERED 
(
	[MaTinhHinhTuVong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_TinhHinhTuVong] ([MaTinhHinhTuVong], [TinhHinhTuVong]) VALUES (N'1         ', N'Do bệnh')
INSERT [dbo].[tbl_TinhHinhTuVong] ([MaTinhHinhTuVong], [TinhHinhTuVong]) VALUES (N'2         ', N'Do tai  biến điều trị')
INSERT [dbo].[tbl_TinhHinhTuVong] ([MaTinhHinhTuVong], [TinhHinhTuVong]) VALUES (N'3         ', N'Trong 24 giờ vào viện')
/****** Object:  Table [dbo].[tbl_QuocTich]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_QuocTich](
	[MaQuocTich] [char](10) NOT NULL,
	[TenQuocTich] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_QuocTich] PRIMARY KEY CLUSTERED 
(
	[MaQuocTich] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (N'00        ', N'Chưa biết')
INSERT [dbo].[tbl_QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (N'01        ', N'Nhật')
INSERT [dbo].[tbl_QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (N'02        ', N'Trung Quốc')
/****** Object:  Table [dbo].[tbl_QuanHuyen]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_QuanHuyen](
	[MaQuanHuyen] [char](10) NOT NULL,
	[TenQuanHuyen] [nvarchar](50) NOT NULL,
	[MaTinhThanh] [char](10) NULL,
 CONSTRAINT [PK_tbl_QuanHuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuanHuyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_QuanHuyen] ([MaQuanHuyen], [TenQuanHuyen], [MaTinhThanh]) VALUES (N'00        ', N'Chưa biết', NULL)
INSERT [dbo].[tbl_QuanHuyen] ([MaQuanHuyen], [TenQuanHuyen], [MaTinhThanh]) VALUES (N'01        ', N'Quận 1', N'01        ')
INSERT [dbo].[tbl_QuanHuyen] ([MaQuanHuyen], [TenQuanHuyen], [MaTinhThanh]) VALUES (N'02        ', N'Quận 2', N'01        ')
/****** Object:  Table [dbo].[tbl_PhuongXa]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PhuongXa](
	[MaPhuongXa] [char](10) NOT NULL,
	[TenPhuongXa] [nvarchar](50) NOT NULL,
	[MaQuanHuyen] [char](10) NULL,
 CONSTRAINT [PK_tbl_PhuongXa] PRIMARY KEY CLUSTERED 
(
	[MaPhuongXa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaQuanHuyen]) VALUES (N'00        ', N'Chưa biết', NULL)
INSERT [dbo].[tbl_PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaQuanHuyen]) VALUES (N'01        ', N'Phường Tân Định', N'01        ')
INSERT [dbo].[tbl_PhuongXa] ([MaPhuongXa], [TenPhuongXa], [MaQuanHuyen]) VALUES (N'02        ', N'Phường Đa Kao', N'01        ')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[tbl_Phong]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Phong](
	[MaPhong] [char](10) NOT NULL,
	[SoPhong] [char](10) NULL,
 CONSTRAINT [PK_tbl_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Phong] ([MaPhong], [SoPhong]) VALUES (N'A001      ', N'A001      ')
INSERT [dbo].[tbl_Phong] ([MaPhong], [SoPhong]) VALUES (N'A002      ', N'A002      ')
INSERT [dbo].[tbl_Phong] ([MaPhong], [SoPhong]) VALUES (N'A003      ', N'A003      ')
/****** Object:  Table [dbo].[tbl_PhieuTheoDoiDichTruyen]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PhieuTheoDoiDichTruyen](
	[MaPhieuTheoDoi] [char](10) NOT NULL,
	[MaDieuTri] [char](10) NULL,
 CONSTRAINT [PK_tbl_PhieuTheoDoiDichTruyen] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTheoDoi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_BenhVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_BenhVien](
	[MaBenhVien] [char](10) NOT NULL,
	[TenBenhVien] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [char](15) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[LoaiTuyen] [nvarchar](50) NULL,
	[ChuyenMon] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_BenhVien] PRIMARY KEY CLUSTERED 
(
	[MaBenhVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_BenhVien] ([MaBenhVien], [TenBenhVien], [DiaChi], [DienThoai], [Email], [Website], [LoaiTuyen], [ChuyenMon]) VALUES (N'BV01      ', N'Chợ Rẫy', N'201B  Nguyễn Chí Thanh Q.5', N'8272727        ', N'bvchoray@hcm.vnn.vn', N'www.choray.org.vn', N'Tuyến trên', N'Ngoại')
INSERT [dbo].[tbl_BenhVien] ([MaBenhVien], [TenBenhVien], [DiaChi], [DienThoai], [Email], [Website], [LoaiTuyen], [ChuyenMon]) VALUES (N'BV02      ', N'115', N'520 Nguyễn Tri Phương Q.10', N'0775255        ', N'duyenanhnt@gmail.com', N'www.benhvien115.com.vn', N'Tuyến trên', N'Nội')
INSERT [dbo].[tbl_BenhVien] ([MaBenhVien], [TenBenhVien], [DiaChi], [DienThoai], [Email], [Website], [LoaiTuyen], [ChuyenMon]) VALUES (N'BV03      ', N'Da liễu', N'2 Nguyễn Thông Q.3', N'9305995        ', N'bvdalieu@yahoo.com', N'www.bvdalieu.org.vn', N'Tuến trên', N'Da')
/****** Object:  Table [dbo].[tbl_PhanQuyenNhom]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PhanQuyenNhom](
	[MaNhom] [char](10) NOT NULL,
	[QuyenHan] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_PhanQuyenNhom] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_NguonNhapVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NguonNhapVien](
	[MaNguonNhapVien] [char](10) NOT NULL,
	[TenNguonNhapVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_NguonNhapVien] PRIMARY KEY CLUSTERED 
(
	[MaNguonNhapVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_NguonNhapVien] ([MaNguonNhapVien], [TenNguonNhapVien]) VALUES (N'1         ', N'Cấp cứu')
INSERT [dbo].[tbl_NguonNhapVien] ([MaNguonNhapVien], [TenNguonNhapVien]) VALUES (N'2         ', N'Khoa khám bệnh')
INSERT [dbo].[tbl_NguonNhapVien] ([MaNguonNhapVien], [TenNguonNhapVien]) VALUES (N'3         ', N'Bệnh viện khác')
/****** Object:  Table [dbo].[tbl_NgheNghiep]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NgheNghiep](
	[MaNgheNghiep] [char](10) NOT NULL,
	[TenNgheNghiep] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_NgheNghiep] PRIMARY KEY CLUSTERED 
(
	[MaNgheNghiep] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_NgheNghiep] ([MaNgheNghiep], [TenNgheNghiep]) VALUES (N'01        ', N'Chưa biết')
INSERT [dbo].[tbl_NgheNghiep] ([MaNgheNghiep], [TenNgheNghiep]) VALUES (N'02        ', N'CB - CNV')
INSERT [dbo].[tbl_NgheNghiep] ([MaNgheNghiep], [TenNgheNghiep]) VALUES (N'03        ', N'HS-SV')
/****** Object:  Table [dbo].[tbl_LoaiXQuang]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiXQuang](
	[MaLoaiXQuang] [char](10) NOT NULL,
	[TenLoaiXQuang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiXQuang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXQuang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiXQuang] ([MaLoaiXQuang], [TenLoaiXQuang]) VALUES (N'LXQ01     ', N'Đầu')
INSERT [dbo].[tbl_LoaiXQuang] ([MaLoaiXQuang], [TenLoaiXQuang]) VALUES (N'LXQ02     ', N'Ngực')
/****** Object:  Table [dbo].[tbl_LoaiXetNghiem]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiXetNghiem](
	[MaLoaiXetNghiem] [char](10) NOT NULL,
	[TenLoaiXetNghiem] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiXetNghiem] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXetNghiem] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiXetNghiem] ([MaLoaiXetNghiem], [TenLoaiXetNghiem]) VALUES (N'LXN01     ', N'Huyết học')
INSERT [dbo].[tbl_LoaiXetNghiem] ([MaLoaiXetNghiem], [TenLoaiXetNghiem]) VALUES (N'LXN02     ', N'Sinh hóa')
INSERT [dbo].[tbl_LoaiXetNghiem] ([MaLoaiXetNghiem], [TenLoaiXetNghiem]) VALUES (N'LXN03     ', N'Vi sinh')
/****** Object:  Table [dbo].[tbl_LoaiThuThuat]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiThuThuat](
	[MaLoaiThuThuat] [char](10) NOT NULL,
	[TenLoaiThuThuat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiThuThuat] PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiThuThuat] ([MaLoaiThuThuat], [TenLoaiThuThuat]) VALUES (N'LTT01     ', N'Tay')
INSERT [dbo].[tbl_LoaiThuThuat] ([MaLoaiThuThuat], [TenLoaiThuThuat]) VALUES (N'LTT02     ', N'Chân')
/****** Object:  Table [dbo].[tbl_LoaiThuoc]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiThuoc](
	[MaLoaiThuoc] [char](10) NOT NULL,
	[TenLoaiThuoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiThuoc] PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (N'LT01      ', N'Kháng viêm')
INSERT [dbo].[tbl_LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (N'LT02      ', N'Chống tiêu chảy')
INSERT [dbo].[tbl_LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc]) VALUES (N'LT03      ', N'Giảm đau,hạ nhiệt')
/****** Object:  Table [dbo].[tbl_LoaiSieuAm]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiSieuAm](
	[MaLoaiSieuAm] [char](10) NOT NULL,
	[TenLoaiSieuAm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiSieuAm] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSieuAm] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiSieuAm] ([MaLoaiSieuAm], [TenLoaiSieuAm]) VALUES (N'LSA01     ', N'Bụng')
INSERT [dbo].[tbl_LoaiSieuAm] ([MaLoaiSieuAm], [TenLoaiSieuAm]) VALUES (N'LSA02     ', N'Gan')
INSERT [dbo].[tbl_LoaiSieuAm] ([MaLoaiSieuAm], [TenLoaiSieuAm]) VALUES (N'LSA03     ', N'Ngực')
/****** Object:  Table [dbo].[tbl_LoaiPhauThuat]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiPhauThuat](
	[MaLoaiPhauThuat] [char](10) NOT NULL,
	[TenLoaiPhauThuat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiPhauThuat] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhauThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiPhauThuat] ([MaLoaiPhauThuat], [TenLoaiPhauThuat]) VALUES (N'LPT01     ', N'Tim')
INSERT [dbo].[tbl_LoaiPhauThuat] ([MaLoaiPhauThuat], [TenLoaiPhauThuat]) VALUES (N'LPT02     ', N'Tai')
INSERT [dbo].[tbl_LoaiPhauThuat] ([MaLoaiPhauThuat], [TenLoaiPhauThuat]) VALUES (N'LPT03     ', N'Gan')
/****** Object:  Table [dbo].[tbl_LoaiBenh]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_LoaiBenh](
	[MaLoaiBenh] [char](10) NOT NULL,
	[TenLoaiBenh] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tbl_LoaiBenh] PRIMARY KEY CLUSTERED 
(
	[MaLoaiBenh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_LoaiBenh] ([MaLoaiBenh], [TenLoaiBenh]) VALUES (N'A00       ', N'Bệnh tả')
INSERT [dbo].[tbl_LoaiBenh] ([MaLoaiBenh], [TenLoaiBenh]) VALUES (N'A01       ', N'Thương hàn và phó thương hàn')
INSERT [dbo].[tbl_LoaiBenh] ([MaLoaiBenh], [TenLoaiBenh]) VALUES (N'A02       ', N'Nhiễm salmonella khác    ')
/****** Object:  Table [dbo].[tbl_Khoa]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Khoa](
	[MaKhoa] [char](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'1         ', N'Khám bệnh')
INSERT [dbo].[tbl_Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'2         ', N'Ngoại ')
INSERT [dbo].[tbl_Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'3         ', N'Sản')
/****** Object:  Table [dbo].[tbl_HoSoBenhAn]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_HoSoBenhAn](
	[MaDieuTri] [char](12) NOT NULL,
	[MaBenhNhan] [char](10) NOT NULL,
	[MaNguonNhapVien] [char](10) NULL,
	[MaBenhVien] [char](10) NULL,
	[MaHinhThucRaVien] [char](10) NULL,
	[MaTinhTrangRaVien] [char](10) NULL,
	[MaTinhHinhTuVong] [char](10) NULL,
	[BacSiKham] [char](10) NULL,
	[TenBacSiKham] [nvarchar](80) NULL,
	[TamThan_ThanKinh] [nvarchar](50) NULL,
	[TuanHoan] [nvarchar](50) NULL,
	[HoHap] [nvarchar](50) NULL,
	[TieuHoa] [nvarchar](50) NULL,
	[Da_MoDuoiDa] [nvarchar](50) NULL,
	[Co_Xuong_Khop] [nvarchar](50) NULL,
	[Than_TietNieu_SinhDuc] [nvarchar](50) NULL,
	[Tai_Mui_Hong] [nvarchar](50) NULL,
	[Rang_Ham_Mat] [nvarchar](50) NULL,
	[CacBenhLyKhac] [nvarchar](50) NULL,
	[CacXetNghiemLamSanCanLam] [nvarchar](50) NULL,
	[ConThu] [int] NULL,
	[TinhTrangTienThai] [char](4) NULL,
	[ChanDoan] [nvarchar](70) NULL,
	[TinhTrangKhiSinh] [nvarchar](50) NULL,
	[CanNangLucSinh] [float] NULL,
	[DiTatBamSinh] [bit] NULL,
	[CuTheTatBamSinh] [nvarchar](50) NULL,
	[PhatTrienTinhThan] [nvarchar](50) NULL,
	[PhatTrienVanDong] [nvarchar](50) NULL,
	[CacBenhKhacTruocDay] [nvarchar](50) NULL,
	[NuoiDuong] [nvarchar](50) NULL,
	[ChamSoc] [nvarchar](50) NULL,
	[ChieuCao] [float] NULL,
	[VongNguc] [float] NULL,
	[VongDau] [float] NULL,
	[Mach] [float] NULL,
	[NhietDo] [float] NULL,
	[HuyetAp] [float] NULL,
	[NhipTho] [float] NULL,
	[DaTiemChung] [nvarchar](80) NULL,
	[CanNang] [float] NULL,
	[NgayVaoVien] [smalldatetime] NULL,
	[GioVaoVien] [char](5) NULL,
	[NoiGioiThieu] [nvarchar](50) NULL,
	[VaoVienViBenhNayLanThu] [int] NULL,
	[NgayRaVien] [smalldatetime] NULL,
	[GioRaVien] [char](5) NULL,
	[TongSoNgayDieuTri] [int] NULL,
	[TongSoNgayDieuTriSauPhauThuat] [int] NULL,
	[TongSoLanPhauThuat] [int] NULL,
	[GiaiPhauBenh] [nvarchar](50) NULL,
	[KhamNghiemTuThi] [bit] NULL,
	[LyDoVaoVien] [nvarchar](50) NULL,
	[QuaTrinhBenhLy] [nvarchar](100) NULL,
	[TienSuBenhVeBanThan] [nvarchar](100) NULL,
	[TienSuBenhVeGiaDinh] [nvarchar](100) NULL,
	[PhanBiet] [nvarchar](50) NULL,
	[TienLuong] [nvarchar](50) NULL,
	[HuongDieuTri] [nvarchar](100) NULL,
	[NgayLamBenhAn] [smalldatetime] NULL,
	[PhuongPhapDieuTri] [nvarchar](50) NULL,
	[QuaTrinhBenhLy_DienBienLamSan] [nvarchar](100) NULL,
	[TomTatKQXetNghiemCanLamSan] [nvarchar](100) NULL,
	[TinhTrangRaVien] [nvarchar](50) NULL,
	[HuongDanDieuTri] [nvarchar](50) NULL,
	[CacCheDoTiepTheo] [nvarchar](50) NULL,
	[VaoKhoa] [char](10) NULL,
	[BSLamBenhAn] [char](10) NULL,
	[TenBSLamBenhAn] [nvarchar](100) NULL,
	[HoTenNguoiDuyet] [char](10) NULL,
	[TenNguoiDuyet] [nvarchar](100) NULL,
	[BenhChinh] [char](10) NULL,
	[TenBenhChinh] [nvarchar](100) NULL,
	[BenhKemTheo] [char](10) NULL,
	[TenBenhKemTheo] [nvarchar](100) NULL,
	[BenhChinhRaVien] [char](10) NULL,
	[TenBenhChinhRaVien] [nvarchar](100) NULL,
	[BenhKemTheoRaVien] [char](10) NULL,
	[TenBenhKemTheoRaVien] [nvarchar](100) NULL,
	[CapCuuChanDoan] [char](10) NULL,
	[TenBenhCapCuuChanDoan] [nvarchar](100) NULL,
	[NoiChuyenChanDoan] [char](10) NULL,
	[TenBenhNoiChuyenChanDoan] [nvarchar](100) NULL,
	[KhoaDieuTriChanDoan] [char](10) NULL,
	[TenBenhKhoaDieuTriChanDoan] [nvarchar](100) NULL,
	[ChanDoanTruocPhauThuat] [char](10) NULL,
	[TenBenhChanDoanTruocPhauThuat] [nvarchar](100) NULL,
	[ChanDoanSauPhauThuat] [char](10) NULL,
	[TenBenhChanDoanSauPhauThuat] [nvarchar](100) NULL,
	[NguoiGiao] [char](10) NULL,
	[TenNguoiGiao] [nvarchar](100) NULL,
	[NguoiNhan] [char](10) NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[XuTri] [nvarchar](50) NULL,
	[CacBoPhan] [nvarchar](100) NULL,
	[CaiSuaThangThu] [int] NULL,
	[NgayTuVong] [smalldatetime] NULL,
	[GioTuVong] [char](5) NULL,
	[MaBenhTuVong] [char](10) NULL,
	[Benh_NguyenNhanTuVong] [nvarchar](100) NULL,
	[MaViTri] [char](10) NULL,
	[ViTri] [char](10) NULL,
	[ChuyenVienTu] [char](10) NULL,
 CONSTRAINT [PK_tbl_HoSoBenhAn] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_HinhThucRaVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_HinhThucRaVien](
	[MaHinhThucRaVien] [char](10) NOT NULL,
	[TenHinhThucRaVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_HinhThucRaVien] PRIMARY KEY CLUSTERED 
(
	[MaHinhThucRaVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_HinhThucRaVien] ([MaHinhThucRaVien], [TenHinhThucRaVien]) VALUES (N'1         ', N'Ra viện')
INSERT [dbo].[tbl_HinhThucRaVien] ([MaHinhThucRaVien], [TenHinhThucRaVien]) VALUES (N'2         ', N'Xin về')
INSERT [dbo].[tbl_HinhThucRaVien] ([MaHinhThucRaVien], [TenHinhThucRaVien]) VALUES (N'3         ', N'Bỏ về')
/****** Object:  Table [dbo].[tbl_DoiTuong]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DoiTuong](
	[MaDoiTuong] [char](10) NOT NULL,
	[TenDoiTuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_DoiTuong] PRIMARY KEY CLUSTERED 
(
	[MaDoiTuong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'0         ', N'Chưa biết')
INSERT [dbo].[tbl_DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'1         ', N'Thu phí')
INSERT [dbo].[tbl_DoiTuong] ([MaDoiTuong], [TenDoiTuong]) VALUES (N'2         ', N'BHYT')
/****** Object:  Table [dbo].[tbl_ChucVu]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChucVu](
	[MaChucVu] [char](10) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'00        ', N'Chưa có')
INSERT [dbo].[tbl_ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'01        ', N'Bác sĩ điều trị')
INSERT [dbo].[tbl_ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'02        ', N'Điều dưỡng chăm sóc')
/****** Object:  Table [dbo].[tbl_ChucDanh]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChucDanh](
	[MaChucDanh] [char](10) NOT NULL,
	[ChucDanh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[MaChucDanh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChucDanh] ([MaChucDanh], [ChucDanh]) VALUES (N'00        ', N'Chưa có')
INSERT [dbo].[tbl_ChucDanh] ([MaChucDanh], [ChucDanh]) VALUES (N'01        ', N'Trưởng khoa nội')
INSERT [dbo].[tbl_ChucDanh] ([MaChucDanh], [ChucDanh]) VALUES (N'02        ', N'Phó khoa nội')
/****** Object:  Table [dbo].[tbl_DanToc]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DanToc](
	[MaDanToc] [char](10) NOT NULL,
	[TenDanToc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_DanToc] PRIMARY KEY CLUSTERED 
(
	[MaDanToc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_DanToc] ([MaDanToc], [TenDanToc]) VALUES (N'00        ', N'Chưa biết')
INSERT [dbo].[tbl_DanToc] ([MaDanToc], [TenDanToc]) VALUES (N'01        ', N'Kinh')
INSERT [dbo].[tbl_DanToc] ([MaDanToc], [TenDanToc]) VALUES (N'02        ', N'H''Mông')
/****** Object:  Table [dbo].[tbl_DanhSachTiemChung]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DanhSachTiemChung](
	[MaTiemChung] [char](10) NOT NULL,
	[TenTiemChung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_DanhSachTiemChung] PRIMARY KEY CLUSTERED 
(
	[MaTiemChung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_DanhSachTiemChung] ([MaTiemChung], [TenTiemChung]) VALUES (N'1         ', N'Bạch hầu')
INSERT [dbo].[tbl_DanhSachTiemChung] ([MaTiemChung], [TenTiemChung]) VALUES (N'2         ', N'Uốn ván')
INSERT [dbo].[tbl_DanhSachTiemChung] ([MaTiemChung], [TenTiemChung]) VALUES (N'3         ', N'Ho gà')
/****** Object:  Table [dbo].[tbl_DanhSachDichTruyen]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DanhSachDichTruyen](
	[MaDichTruyen] [char](10) NOT NULL,
	[TenDichTruyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_DanhSachDichTruyen] PRIMARY KEY CLUSTERED 
(
	[MaDichTruyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_DanhSachDichTruyen] ([MaDichTruyen], [TenDichTruyen]) VALUES (N'DT01      ', N'Natri Clorua(0.9%)')
INSERT [dbo].[tbl_DanhSachDichTruyen] ([MaDichTruyen], [TenDichTruyen]) VALUES (N'DT02      ', N'Gluco')
INSERT [dbo].[tbl_DanhSachDichTruyen] ([MaDichTruyen], [TenDichTruyen]) VALUES (N'DT03      ', N'Máu')
/****** Object:  Table [dbo].[tbl_CongNhanVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CongNhanVien](
	[MaCongNhanVien] [char](10) NOT NULL,
	[HoTenCongNhanVien] [nvarchar](60) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [smalldatetime] NULL,
	[MaTrinhDo] [char](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[MaKhoa] [char](10) NULL,
	[MaChucVu] [char](10) NULL,
	[MaChucDanh] [char](10) NULL,
	[TenDangNhap] [varchar](30) NULL,
	[MatKhau] [varchar](20) NULL,
	[QuyenHan] [char](30) NULL,
 CONSTRAINT [PK_tbl_CongNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaCongNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_CongNhanVien] ([MaCongNhanVien], [HoTenCongNhanVien], [GioiTinh], [NgaySinh], [MaTrinhDo], [DiaChi], [DienThoai], [Email], [MaKhoa], [MaChucVu], [MaChucDanh], [TenDangNhap], [MatKhau], [QuyenHan]) VALUES (N'CNV01     ', N'Nguyễn Ngọc Anh', 0, CAST(0x6FF90000 AS SmallDateTime), N'5         ', N'266 Nguyễn Trãi Q.1', N'8356635', N'ngocanh@yahoo.com', N'7         ', N'01        ', N'01        ', N'admin', N'123', N'admin                         ')
INSERT [dbo].[tbl_CongNhanVien] ([MaCongNhanVien], [HoTenCongNhanVien], [GioiTinh], [NgaySinh], [MaTrinhDo], [DiaChi], [DienThoai], [Email], [MaKhoa], [MaChucVu], [MaChucDanh], [TenDangNhap], [MatKhau], [QuyenHan]) VALUES (N'CNV02     ', N'Nguyễn Thế Hoàng', 1, CAST(0x74BB0000 AS SmallDateTime), N'5         ', N'233 Nguyễn Trãi Q1', N'2569874', N'thehoang@gamil.Com', N'7         ', N'01        ', N'01        ', N'bacsi', N'bacsi', N'bacsi                         ')
INSERT [dbo].[tbl_CongNhanVien] ([MaCongNhanVien], [HoTenCongNhanVien], [GioiTinh], [NgaySinh], [MaTrinhDo], [DiaChi], [DienThoai], [Email], [MaKhoa], [MaChucVu], [MaChucDanh], [TenDangNhap], [MatKhau], [QuyenHan]) VALUES (N'CNV03     ', N'Nguyễn Phương Ngọc', 1, CAST(0x737D0000 AS SmallDateTime), N'5         ', N'123 An Dương Vương', N'0909999999', N'phuongngoc@yahoo.com.vn', N'8         ', N'01        ', N'01        ', N'dieuduong', N'dieuduong', N'dieuduong                     ')
/****** Object:  Table [dbo].[tbl_ChuyenKhoa]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChuyenKhoa](
	[MaDieuTri] [char](12) NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
	[NgayChuyen] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_ChuyenKhoa] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC,
	[MaKhoa] ASC,
	[NgayChuyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChuyenKhoa] ([MaDieuTri], [MaKhoa], [NgayChuyen]) VALUES (N'HSBA08/00030', N'2         ', CAST(0x00009ACB00000000 AS DateTime))
INSERT [dbo].[tbl_ChuyenKhoa] ([MaDieuTri], [MaKhoa], [NgayChuyen]) VALUES (N'HSBA08/00030', N'4         ', CAST(0x00009ABE00000000 AS DateTime))
INSERT [dbo].[tbl_ChuyenKhoa] ([MaDieuTri], [MaKhoa], [NgayChuyen]) VALUES (N'HSBA08/00030', N'5         ', CAST(0x00009ABF00000000 AS DateTime))
/****** Object:  Table [dbo].[tbl_ChiTieuXetNghiem]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChiTieuXetNghiem](
	[MaChiTieuXetNghiem] [char](10) NOT NULL,
	[TenChiTieuXetNghiem] [nvarchar](50) NOT NULL,
	[MaLoaiXetNghiem] [char](10) NULL,
 CONSTRAINT [PK_tbl_ChiTieuXetNghiem] PRIMARY KEY CLUSTERED 
(
	[MaChiTieuXetNghiem] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChiTieuXetNghiem] ([MaChiTieuXetNghiem], [TenChiTieuXetNghiem], [MaLoaiXetNghiem]) VALUES (N'XN01      ', N'Tìm vi trùng (liêncầu khẩn)', N'LXN03     ')
INSERT [dbo].[tbl_ChiTieuXetNghiem] ([MaChiTieuXetNghiem], [TenChiTieuXetNghiem], [MaLoaiXetNghiem]) VALUES (N'XN02      ', N'Phân', N'LXN02     ')
INSERT [dbo].[tbl_ChiTieuXetNghiem] ([MaChiTieuXetNghiem], [TenChiTieuXetNghiem], [MaLoaiXetNghiem]) VALUES (N'XN03      ', N'Nước tiểu', N'LXN02     ')
/****** Object:  Table [dbo].[tbl_ChiTietXQuang]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChiTietXQuang](
	[MaXQuang] [char](10) NOT NULL,
	[TenXQuang] [nvarchar](50) NOT NULL,
	[MaLoaiXQuang] [char](10) NULL,
 CONSTRAINT [PK_tbl_ChiTietXQuang] PRIMARY KEY CLUSTERED 
(
	[MaXQuang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChiTietXQuang] ([MaXQuang], [TenXQuang], [MaLoaiXQuang]) VALUES (N'XQ01      ', N'Lồng ngực', N'LXQ02     ')
/****** Object:  Table [dbo].[tbl_ChiTietToDieuTri]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChiTietToDieuTri](
	[MaChiTietDieuTri] [char](15) NOT NULL,
	[MaDieuTri] [char](12) NOT NULL,
	[Ngay] [smalldatetime] NULL,
	[Gio] [char](5) NULL,
	[DienBienBenh] [nvarchar](50) NULL,
	[HuongDanDieuTriChamSoc] [nvarchar](100) NULL,
	[MaBacSiDieuTri] [char](10) NULL,
	[MaYTaThucHien] [char](10) NULL,
 CONSTRAINT [PK_tbl_ChiTietDieuTri] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDieuTri] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChiTietToDieuTri] ([MaChiTietDieuTri], [MaDieuTri], [Ngay], [Gio], [DienBienBenh], [HuongDanDieuTriChamSoc], [MaBacSiDieuTri], [MaYTaThucHien]) VALUES (N'HSBA08/00001T01', N'HSBA08/00001', CAST(0x9ABE0000 AS SmallDateTime), N'19:09', N'', N'', N'CNV03     ', N'CNV02     ')
INSERT [dbo].[tbl_ChiTietToDieuTri] ([MaChiTietDieuTri], [MaDieuTri], [Ngay], [Gio], [DienBienBenh], [HuongDanDieuTriChamSoc], [MaBacSiDieuTri], [MaYTaThucHien]) VALUES (N'HSBA08/00001T02', N'HSBA08/00001', CAST(0x9ABE0000 AS SmallDateTime), N'19:03', N'', N'', N'CNV03     ', N'CNV02     ')
INSERT [dbo].[tbl_ChiTietToDieuTri] ([MaChiTietDieuTri], [MaDieuTri], [Ngay], [Gio], [DienBienBenh], [HuongDanDieuTriChamSoc], [MaBacSiDieuTri], [MaYTaThucHien]) VALUES (N'HSBA08/00001T03', N'HSBA08/00001', CAST(0x9ABE0000 AS SmallDateTime), N'20:07', N'', N'', N'CNV03     ', N'CNV03     ')
/****** Object:  Table [dbo].[tbl_ChiTietSieuAm]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChiTietSieuAm](
	[MaSieuAm] [char](10) NOT NULL,
	[TenSieuAm] [nvarchar](50) NOT NULL,
	[MaLoaiSieuAm] [char](10) NULL,
 CONSTRAINT [PK_tbl_ChiTietSieuAm] PRIMARY KEY CLUSTERED 
(
	[MaSieuAm] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChiTietSieuAm] ([MaSieuAm], [TenSieuAm], [MaLoaiSieuAm]) VALUES (N'SA01      ', N'Siêu âm bụng ruột', N'LSA01     ')
INSERT [dbo].[tbl_ChiTietSieuAm] ([MaSieuAm], [TenSieuAm], [MaLoaiSieuAm]) VALUES (N'SA02      ', N'Siêu âm dạ dày', N'LSA01     ')
INSERT [dbo].[tbl_ChiTietSieuAm] ([MaSieuAm], [TenSieuAm], [MaLoaiSieuAm]) VALUES (N'SA03      ', N'Siêu âm tử cung tổng quát', N'LSA02     ')
/****** Object:  Table [dbo].[tbl_Ngay_DieuTri_CongNhanVien]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Ngay_DieuTri_CongNhanVien](
	[MaDieuTri] [char](12) NOT NULL,
	[MaCongNhanVien] [char](10) NOT NULL,
	[Ngay] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Ngay_DieuTri_CongNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC,
	[MaCongNhanVien] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_BenhNhan]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_BenhNhan](
	[MaBenhNhan] [char](10) NOT NULL,
	[HoTenBenhNhan] [nvarchar](50) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [char](15) NULL,
	[NoiLamViec] [nvarchar](100) NULL,
	[MaDoiTuong] [char](10) NULL,
	[SoBHYT] [char](11) NULL,
	[NgayBD_BHYT] [smalldatetime] NULL,
	[NgayKT_BHYT] [smalldatetime] NULL,
	[MaQuocTich] [char](10) NULL,
	[MaTinhThanh] [char](10) NULL,
	[MaQuanHuyen] [char](10) NULL,
	[MaPhuongXa] [char](10) NULL,
	[MaDanToc] [char](10) NULL,
	[MaNgheNghiep] [char](10) NULL,
	[HoTenNguoiNha] [nvarchar](50) NULL,
	[DiaChiNguoiNha] [nvarchar](100) NULL,
	[HoTenCha] [nvarchar](50) NULL,
	[NgheNghiepCha] [char](10) NULL,
	[TenNgheNghiepCha] [nvarchar](50) NULL,
	[HoTenMe] [nvarchar](50) NULL,
	[NgheNghiepMe] [char](10) NULL,
	[TenNgheNghiepMe] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[tbl_Benh]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Benh](
	[MaBenh] [char](10) NOT NULL,
	[TenBenh] [nvarchar](100) NOT NULL,
	[MaLoaiBenh] [char](10) NULL,
 CONSTRAINT [PK_tbl_Benh] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Benh] ([MaBenh], [TenBenh], [MaLoaiBenh]) VALUES (N'A00.0     ', N'Bệnh tả, không xác định', N'A00       ')
INSERT [dbo].[tbl_Benh] ([MaBenh], [TenBenh], [MaLoaiBenh]) VALUES (N'A00.1     ', N'Bệnh tả do Vibrio cholerae 0', N'A00       ')
INSERT [dbo].[tbl_Benh] ([MaBenh], [TenBenh], [MaLoaiBenh]) VALUES (N'A01.0     ', N'Thương hàn ', N'A01       ')
/****** Object:  Table [dbo].[tbl_TiemChung_DieuTri]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TiemChung_DieuTri](
	[MaDieuTri] [char](12) NOT NULL,
	[MaTiemChung] [char](10) NOT NULL,
 CONSTRAINT [PK_tbl_TiemChung_DieuTri] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC,
	[MaTiemChung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ThuThuat]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ThuThuat](
	[MaThuThuat] [char](10) NOT NULL,
	[TenThuThuat] [nvarchar](50) NOT NULL,
	[MaLoaiThuThuat] [char](10) NULL,
 CONSTRAINT [PK_tbl_ThuThuat] PRIMARY KEY CLUSTERED 
(
	[MaThuThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ThuThuat] ([MaThuThuat], [TenThuThuat], [MaLoaiThuThuat]) VALUES (N'TT01      ', N'Bó bột tay', N'LTT01     ')
INSERT [dbo].[tbl_ThuThuat] ([MaThuThuat], [TenThuThuat], [MaLoaiThuThuat]) VALUES (N'TT02      ', N'Bó bột chân', N'LTT02     ')
INSERT [dbo].[tbl_ThuThuat] ([MaThuThuat], [TenThuThuat], [MaLoaiThuThuat]) VALUES (N'TT03      ', N'Rửa vết thương tay', N'LTT01     ')
/****** Object:  Table [dbo].[tbl_Thuoc]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Thuoc](
	[MaThuoc] [char](10) NOT NULL,
	[TenThuoc] [nvarchar](50) NOT NULL,
	[DVTinh] [nvarchar](50) NULL,
	[MaLoaiThuoc] [char](10) NULL,
	[LoSanXuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Thuoc] ([MaThuoc], [TenThuoc], [DVTinh], [MaLoaiThuoc], [LoSanXuat]) VALUES (N'T01       ', N'Paracetamol', N'Viên', N'LT03      ', N'SX011')
INSERT [dbo].[tbl_Thuoc] ([MaThuoc], [TenThuoc], [DVTinh], [MaLoaiThuoc], [LoSanXuat]) VALUES (N'T02       ', N'Hapacol', N'Viên', N'LT03      ', N'SX011')
INSERT [dbo].[tbl_Thuoc] ([MaThuoc], [TenThuoc], [DVTinh], [MaLoaiThuoc], [LoSanXuat]) VALUES (N'T03       ', N'Augmentin', N'Viên', N'LT04      ', N'SX011')
/****** Object:  Table [dbo].[tbl_TheoDoi_DichTruyen]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TheoDoi_DichTruyen](
	[MaChiTietTheoDoi] [char](20) NOT NULL,
	[MaDieuTri] [char](12) NULL,
	[MaDichTruyen] [char](10) NULL,
	[NgayTruyen] [smalldatetime] NULL,
	[SoLuong] [char](2) NULL,
	[TocDo] [char](2) NULL,
	[ThoiGianBD] [char](5) NULL,
	[ThoiGianKT] [char](5) NULL,
	[BSChiDinh] [char](10) NULL,
	[YTaThucHien] [char](10) NULL,
 CONSTRAINT [PK_tbl_TheoDoi_DichTruyen] PRIMARY KEY CLUSTERED 
(
	[MaChiTietTheoDoi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_TheoDoi_DichTruyen] ([MaChiTietTheoDoi], [MaDieuTri], [MaDichTruyen], [NgayTruyen], [SoLuong], [TocDo], [ThoiGianBD], [ThoiGianKT], [BSChiDinh], [YTaThucHien]) VALUES (N'TD-HSBA08/00029-001 ', N'HSBA08/00029', N'DT02      ', CAST(0x9ABF0000 AS SmallDateTime), N'12', N'23', N'15:23', N'15:15', N'CNV01     ', N'CNV01     ')
INSERT [dbo].[tbl_TheoDoi_DichTruyen] ([MaChiTietTheoDoi], [MaDieuTri], [MaDichTruyen], [NgayTruyen], [SoLuong], [TocDo], [ThoiGianBD], [ThoiGianKT], [BSChiDinh], [YTaThucHien]) VALUES (N'TD-HSBA08/00029-002 ', N'HSBA08/00029', N'DT02      ', CAST(0x9ABF0000 AS SmallDateTime), N'12', N'12', N'12:12', N'13:13', N'CNV01     ', N'CNV01     ')
INSERT [dbo].[tbl_TheoDoi_DichTruyen] ([MaChiTietTheoDoi], [MaDieuTri], [MaDichTruyen], [NgayTruyen], [SoLuong], [TocDo], [ThoiGianBD], [ThoiGianKT], [BSChiDinh], [YTaThucHien]) VALUES (N'TD-HSBA08/00030-001 ', N'HSBA08/00030', N'DT01      ', CAST(0x9ABF0000 AS SmallDateTime), N'12', N'12', N'12:13', N'12:14', N'CNV01     ', N'CNV01     ')
/****** Object:  Table [dbo].[tbl_PhauThuat]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_PhauThuat](
	[MaPhauThuat] [char](10) NOT NULL,
	[TenPhauThuat] [nvarchar](50) NOT NULL,
	[MaLoaiPhauThuat] [char](10) NULL,
 CONSTRAINT [PK_tbl_PhauThuat] PRIMARY KEY CLUSTERED 
(
	[MaPhauThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_PhauThuat] ([MaPhauThuat], [TenPhauThuat], [MaLoaiPhauThuat]) VALUES (N'PT01      ', N'Thay tim', N'LPT01     ')
INSERT [dbo].[tbl_PhauThuat] ([MaPhauThuat], [TenPhauThuat], [MaLoaiPhauThuat]) VALUES (N'PT02      ', N'Mổ  tai trong', N'LPT02     ')
INSERT [dbo].[tbl_PhauThuat] ([MaPhauThuat], [TenPhauThuat], [MaLoaiPhauThuat]) VALUES (N'PT03      ', N'Thay Thận', N'LPT04     ')
/****** Object:  Table [dbo].[tbl_ViTri]    Script Date: 05/20/2012 11:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ViTri](
	[MaViTri] [char](10) NOT NULL,
	[SoGiuong] [char](10) NULL,
	[MaPhong] [char](10) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_tbl_ViTri] PRIMARY KEY CLUSTERED 
(
	[MaViTri] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ViTri] ([MaViTri], [SoGiuong], [MaPhong], [TinhTrang]) VALUES (N'A001-01   ', N'01        ', N'A001      ', 0)
INSERT [dbo].[tbl_ViTri] ([MaViTri], [SoGiuong], [MaPhong], [TinhTrang]) VALUES (N'A001-02   ', N'02        ', N'A001      ', 0)
INSERT [dbo].[tbl_ViTri] ([MaViTri], [SoGiuong], [MaPhong], [TinhTrang]) VALUES (N'A001-03   ', N'03        ', N'A001      ', 0)
/****** Object:  View [dbo].[v_Benh]    Script Date: 05/20/2012 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Benh]
AS
SELECT     dbo.tbl_Benh.MaBenh, dbo.tbl_Benh.TenBenh, dbo.tbl_LoaiBenh.TenLoaiBenh
FROM         dbo.tbl_Benh INNER JOIN
                      dbo.tbl_LoaiBenh ON dbo.tbl_Benh.MaLoaiBenh = dbo.tbl_LoaiBenh.MaLoaiBenh
GO
/****** Object:  Table [dbo].[tbl_Phieu]    Script Date: 05/20/2012 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Phieu](
	[MaPhieu] [char](16) NOT NULL,
	[MaDieuTri] [char](12) NOT NULL,
	[MaChiTieuXQuang] [char](10) NULL,
	[MaChiTieuSieuAm] [char](10) NULL,
	[MaChiTieuXetNghiem] [char](10) NULL,
	[NgayYeuCau] [smalldatetime] NULL,
	[LanThu] [int] NULL,
	[NgayGhiKQ] [smalldatetime] NULL,
	[YeuCauSieuAm] [nvarchar](100) NULL,
	[KQSieuAm] [nvarchar](100) NULL,
	[YeuCauChup] [nvarchar](100) NULL,
	[KQChup] [nvarchar](100) NULL,
	[YeuCauXetNghiem] [nvarchar](100) NULL,
	[KQXetNghiem] [nvarchar](100) NULL,
	[BacSiDieuTri] [char](10) NULL,
	[BacSiChuyenKhoa] [char](10) NULL,
	[ToSieuAm] [image] NULL,
	[ToXetNghiem] [image] NULL,
	[ToXQuang] [image] NULL,
 CONSTRAINT [PK_tbl_Phieu] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_DieuTri_ThuThuat]    Script Date: 05/20/2012 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DieuTri_ThuThuat](
	[MaDieuTri] [char](12) NOT NULL,
	[MaThuThuat] [char](10) NOT NULL,
	[NgayThuThuat] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_DieuTri_ThuThuat] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC,
	[MaThuThuat] ASC,
	[NgayThuThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_DieuTri_PhauThuat]    Script Date: 05/20/2012 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_DieuTri_PhauThuat](
	[MaDieuTri] [char](12) NOT NULL,
	[MaPhauThuat] [char](10) NOT NULL,
	[NgayPhauThuat] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_DieuTri_PhauThuat] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC,
	[MaPhauThuat] ASC,
	[NgayPhauThuat] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ChiTietDieuTriBangThuoc]    Script Date: 05/20/2012 11:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_ChiTietDieuTriBangThuoc](
	[MaChiTietDieuTri] [char](15) NOT NULL,
	[MaThuoc] [char](10) NOT NULL,
	[SoLuong] [float] NULL,
	[LieuLuong] [int] NULL,
	[SoLanMotNgay] [int] NULL,
	[HuongDan] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_ChiTietDieuTriBangThuoc] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDieuTri] ASC,
	[MaThuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_ChiTietDieuTriBangThuoc] ([MaChiTietDieuTri], [MaThuoc], [SoLuong], [LieuLuong], [SoLanMotNgay], [HuongDan]) VALUES (N'HSBA08/00001T01', N'T01       ', 1, 1, 1, N'')
INSERT [dbo].[tbl_ChiTietDieuTriBangThuoc] ([MaChiTietDieuTri], [MaThuoc], [SoLuong], [LieuLuong], [SoLanMotNgay], [HuongDan]) VALUES (N'HSBA08/00001T01', N'T05       ', 6, 2, 3, N'')
INSERT [dbo].[tbl_ChiTietDieuTriBangThuoc] ([MaChiTietDieuTri], [MaThuoc], [SoLuong], [LieuLuong], [SoLanMotNgay], [HuongDan]) VALUES (N'HSBA08/00001T01', N'T10       ', 6, 2, 3, N'')
